<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Modules">
            <directory suffix="Test.php">./app-modules/*/tests</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite" force="false"/>
        <env name="DB_DATABASE" value=":memory:" force="false"/>
        <env name="DB_URL" value="" force="false"/>
        <env name="DB_HOST" value="127.0.0.1" force="false"/>
        <env name="DB_PORT" value="5432" force="false"/>
        <env name="DB_USERNAME" value="moxdop" force="false"/>
        <env name="DB_PASSWORD" value="moxdop" force="false"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="FINDINGS_EVALUATE_AFTER_EVIDENCE" value="false"/>
        <env name="OPPORTUNITIES_EVALUATE_AFTER_FINDINGS" value="false"/>
        <env name="GOOGLE_ADS_API_VERSION" value="v25" force="true"/>
    </php>
</phpunit>
